# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.gitattributes

# Other
.spyproject/
*.pyc
.ipynb_checkpoints
.DS_Store
.vscode
.venv
docs/_build/
docs/_work/
Lab15_IRCalibLeft.png
**/Assignments/Lab15_IRCalibLeft.png
docs/Assignments/Lab15_IRCalibLeft.png
